{{header}}
<article>
  <header class="section eigen-green text-center">
    <div class="container">
      <div class="vc">
        <h1>Our Story</h1>
      </div>
    </div>
  </header>
  <div class="section">
    <div class="container">
      <p class="lead">Eigen was formed by a team of engineers who understand operations and computers. We are the most forward thinking systems
        integrator for Intelligent Operations in the Oil &amp; Gas industry covering reservoir, production and drilling.</p>
      <p>We turn visions into reality for remote monitoring, realtime visualisation, data historians and custom applications
        for Integrated Operations and the Digital Oilfield. &nbsp;We are vendor neutral. Our multi-disciplined team of engineers
        covers control systems, networking, cyber security, system and information architecture and web design. We employ
        chemical, electrical and mechanical engineers as well as hardware &amp; software engineers, network and telecoms
        specialists and cyber security experts.</p>
      <p>After delivering a dozen Digital Oilfield projects we realised there was something missing - all we were doing was
        creating more and more data to drown people with!</p>
      <p>We needed a way to make it easier for people to see what was going on - not harder. We needed to link information together
        in an easy to use and relevant way. So in 2007 we began developing a revolutionary new Shared Asset Model.</p>
      <p>It wasn't easy and we found a lot of ways not to do it! We investigated a number of emerging technologies. We partnered
        with Silicon Valley startups and loads of open source projects but nothing quite fitted. What we needed was all the
        flexibility of a graph with all the power and rigour of a relational database. So we set about building our own platform.</p>
    </div>
  </div>
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-marker"></div>
      <div class="cd-timeline-content">
        <p>Eigen engineers deliver the first digital oilfield in the Caspian.</p>
        <span class="cd-date">2003</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-marker"></div>
      <div class="cd-timeline-content">
        <p>Work begins on a new Shared Asset Model.</p>
        <span class="cd-date">2007</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-marker"></div>
      <div class="cd-timeline-content">
        <p>We complete our 14th digital oilfield project.</p>
        <span class="cd-date">2009</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-marker"></div>
      <div class="cd-timeline-content">
        <p>The Shared Asset Model goes live.</p>
        <span class="cd-date">2012</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-marker"></div>
      <div class="cd-timeline-content">
        <p>Eigen delivers Integrated Operations for Drilling.</p>
        <span class="cd-date">2013</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-marker"></div>
      <div class="cd-timeline-content">
        <p>Eigen Monitor dashboards and Eigen Drill launched at Inteligent Energy.</p>
        <span class="cd-date">2014</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-marker"></div>
      <div class="cd-timeline-content">
        <p>The Eigen Ingenuity platform is released.</p>
        <span class="cd-date">2015</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-marker"></div>
      <div class="cd-timeline-content">
        <p>Integration with Confluence, ElasticSearch and Influx.</p>
        <span class="cd-date">2016</span>
      </div>
    </div>
  </section>
</article>
{{footer}}
