{{header}}
  <article>
    <header class="section eigen-blue text-center">
      <div class=container>
        <div class=vc>
          <h1 class=eigen-logo>In the press</h1>
        </div>

        <p class='press-link'>
          <a href="/docs/press-pack.zip" download class="btn sm">
            <span class="btn-inner">Press pack</span>
          </a>
        </p>

      </div>
    </header>
    <div class=section>
      <div class=container>
        <div class=row>

                    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
                      <h2>New Tech to Help Offshore Oil &amp; Gas Workers</h2>
                      <h3>New wearables and App technology to provide real-time information access for offshore oil and gas platform managers and operatives.</h3>
                      <p>
                        Eigen, an offshore oil and gas digitalisation software provider and systems integrator, working in partnership with Lundin Norway has created a new app that enables real-time access to critical data via wearable devices. This instant and easy access to operational information can be granted to digital workers by using either an app or headset with a visor interface.
                      </p>
                      <p>
                         Using sophisticated image processing technology or by entering search terms, users can access information and use the system
                        to automatically identify and display information related to equipment including: • Documentation • Live performance data
                        • Equipment parameters such as manufacturer or current space part inventory • Maintenance history and future plans • Any
                        alerts or alarms that have been granted recently
                      </p>
                      <p>
                        By <strong>Dominique Adams</strong> - <a href="https://digit.fyi/new-helmet-and-app-to-help-offshore-oil-gas-digital-workers/?inf_contact_key=e674b3ef0fb482d38813353877d4540a1f5479ce4aa1119e5b75be3c7b082c6e"
                          target="_blank">Digit</a>
                      </p>
                      <p>
                        <em>8th May 2018</em>
                      </p>

                      <p class="press-image">
                        <img src="/logos/digit.png" alt="">
                      </p>
                      <p>
                        <a href="https://digit.fyi/new-helmet-and-app-to-help-offshore-oil-gas-digital-workers/?inf_contact_key=e674b3ef0fb482d38813353877d4540a1f5479ce4aa1119e5b75be3c7b082c6e"
                          target="_blank" class="btn sm">
                          <span class="btn-inner">Read full article
                            <i class="fa fa-fw fa-angle-double-right"></i>
                          </span>
                        </a>
                      </p>
                    </div>

                    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
                      <h2>Eigen introduces app and wearables technology for oil and gas sector</h2>
                      <h3>Helmet and App provide live display of operational information for new generation of offshore digital worker</h3>
                      <p>
                        Offshore Oil and Gas digitalisation software provider and systems integrator, Eigen, has built an app that provides access
                        to real time information for Oil and Gas platform managers and operatives, using wearable devices.
                      </p>
                      <p>
                        Working in partnership with Lundin Norway, Eigen has deployed technology to enable the Digital Worker to gain immediate access
                        to critical data, using an app or by wearing a headset with a visor interface. This provides offshore workers with easy
                        and fast access to operational information in one place.
                      </p>
                      <p>
                        <a href="https://www.the-eic.com/News/NewsStory/Eigen-introduces-app-and-wearables-technology-for-oil-and-gas-sector.aspx?ArticleID=4482&tabid=766" target="_blank">EIC</a>
                      </p>
                      <p>
                        <em>3rd May 2018</em>
                      </p>

                      <p class="press-image">
                        <img src="/logos/eic.png" alt="">
                      </p>
                      <p>
                        <a href="https://www.the-eic.com/News/NewsStory/Eigen-introduces-app-and-wearables-technology-for-oil-and-gas-sector.aspx?ArticleID=4482&tabid=766" target="_blank" class="btn sm">
                          <span class="btn-inner">Read full article
                            <i class="fa fa-fw fa-angle-double-right"></i>
                          </span>
                        </a>
                      </p>
                    </div>

                    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
                      <h2>Wearables and App give real time information to offshore workers</h2>
                      <h3>Helmet and App provide live display of operational information for new generation of offshore digital worker</h3>
                      <p>
                        Offshore Oil and Gas digitalisation software provider and systems integrator, Eigen, has built an app that provides access to real time information for Oil and Gas platform managers and operatives, using wearable devices.
                      </p>
                      <p>
                        Working in partnership with Lundin Norway, Eigen has deployed technology to enable the Digital Worker to gain immediate access to critical data, using an app or by wearing a headset with a visor interface. This provides offshore workers with easy and fast access to operational information in one place.
                      </p>
                      <p>
                        <a href="http://www.yourindustrynews.com/news_item.php?newsID=148856" target="_blank">Your Industry News</a>
                      </p>
                      <p>
                        <em>3rd May 2018</em>
                      </p>

                      <p class="press-image">
                        <img src="/logos/your-industry-news.png" alt="">
                      </p>
                      <p>
                        <a href="http://www.yourindustrynews.com/news_item.php?newsID=148856" target="_blank"
                          class="btn sm">
                          <span class="btn-inner">Read full article
                            <i class="fa fa-fw fa-angle-double-right"></i>
                          </span>
                        </a>
                      </p>
                    </div>

                    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
                      <h2>New wearable tech app launched to help offshore workers</h2>
                      <h3>
                          The software company Eigen has launched a new app, designed to give offshore oil and gas workers real time access to information
                        through wearable devices.
                      </h3>
                      <p>
                          The new system has been developed with Lundin Norway and is designed to give offshore workers easy and fast access to operational
                        information from headsets or helmets with a visor interface.
                      </p>
                      <p>
                          Using special image processing technology or by quickly entering search terms, workers will be able to automatically identify
                        and display equipment parameters, maintenance history and any alerts or alarms that have been generated recently.
                      </p>
                      <p>By
                        <strong>Jamie Hailstone</strong> -
                        <a href="https://www.shponline.co.uk/new-wearable-tech-app-launched-to-help-offshore-workers/" target="_blank">SHP - Safety &amp; Health Practitioner</a>
                      </p>
                      <p>
                        <em>3rd May 2018</em>
                      </p>

                      <p class="press-image">
                        <img src="/logos/shp.png" alt="">
                      </p>
                      <p>
                        <a href="https://www.shponline.co.uk/new-wearable-tech-app-launched-to-help-offshore-workers/" target="_blank"
                          class="btn sm">
                          <span class="btn-inner">Read full article
                            <i class="fa fa-fw fa-angle-double-right"></i>
                          </span>
                        </a>
                      </p>
                    </div>

                    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
                      <h2>Wearables and app technology launched with real time information access for O&G digital workers</h2>
                      <h3>Offshore Oil and Gas digitalisation software provider and systems integrator, Eigen, has built an app that provides access
                        to real time information for Oil and Gas platform managers and operatives, using wearable devices.</h3>
                      <p>
                        Working in partnership with Lundin Norway, Eigen has deployed technology to enable the Digital Worker to gain immediate access
                        to critical data, using an app or by wearing a headset with a visor interface. This provides offshore workers with easy
                        and fast access to operational information in one place.
                      </p>
                      <p>
                        By
                        <strong>Laura Dean</strong> -
                        <a href="https://www.oilfieldtechnology.com/digital-oilfield/02052018/wearables-and-app-technology-launched-with-real-time-information-access-for-og-digital-workers/"
                          target="_blank">Oilfield Technology</a>
                      </p>
                      <p>
                        <em>2nd May 2018</em>
                      </p>

                      <p class="press-image">
                        <img src="/logos/oilfield-technology.png" alt="">
                      </p>
                      <p>
                        <a href="https://www.oilfieldtechnology.com/digital-oilfield/02052018/wearables-and-app-technology-launched-with-real-time-information-access-for-og-digital-workers/"
                          target="_blank" class="btn sm">
                          <span class="btn-inner">Read full article
                            <i class="fa fa-fw fa-angle-double-right"></i>
                          </span>
                        </a>
                      </p>
                    </div>

                    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
                      <h2>Wearables and App Technology Launched with Real Time Information Access for O&G Digital Workers</h2>
                      <h3>
                        Helmet and App provides live display of operational information for new generation of offshore digital worker.
                      </h3>
                      <p>
                        Offshore Oil and Gas digitalisation software provider and systems integrator, Eigen, has built an app that provides access
                        to real time information for Oil and Gas platform managers and operatives, using wearable devices.
                      </p>
                      <p>
                        Working in partnership with Lundin Norway, Eigen has deployed technology to enable the Digital Worker to gain immediate access
                        to critical data, using an app or by wearing a headset with a visor interface. This provides offshore workers with easy
                        and fast access to operational information in one place.
                      </p>
                      <p>
                        <a href="http://www.oilandgastechnology.net/news/wearables-app-technology-launched-real-time-information-access-og-digital-workers"
                          target="_blank">Oil &amp; Gas Technology</a>
                      </p>
                      <p>
                        <em>2nd May 2018</em>
                      </p>
                      <p class="press-image">
                        <img src="/logos/oil-gas-technology.png" alt="">
                      </p>
                      <p>
                        <a href="http://www.oilandgastechnology.net/news/wearables-app-technology-launched-real-time-information-access-og-digital-workers"
                          target="_blank" class="btn sm">
                          <span class="btn-inner">Read full article
                            <i class="fa fa-fw fa-angle-double-right"></i>
                          </span>
                        </a>
                      </p>
                    </div>

                    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
                      <h2>Digitalisation approaches – An oil &amp; gas industry blueprint</h2>
                      <h3>
                         How can operators capture greater value through making better digital decisions?
                      </h3>
                      <p>
Much has been written about Digitalisation recently but it’s often less clear that different approaches are needed depending on the nature of the business goal.
</p>
<p>
There are essentially two main types of digitalisation - those focused on using data to make co-ordination decisions to sanction and control work (referred to as Digital Decisions), and those that embed information processing so the way work is performed changes (referred to as Digital Execution).
</p>
                      <p>By
                        <strong>Gareth Davies</strong> -
                        <a href="https://www.itproportal.com/features/digitalisation-approaches-an-oil-and-gas-industry-blueprint/" target="_blank">ITProPortal</a>
                      </p>
                      <p>
                        <em>21st March 2018</em>
                      </p>

                      <p class="press-image">
                        <img src="/logos/it-pro-portal.png" alt="">
                      </p>
                      <p>
                        <a href="https://www.itproportal.com/features/digitalisation-approaches-an-oil-and-gas-industry-blueprint/" target="_blank"
                          class="btn sm">
                          <span class="btn-inner">Read full article
                            <i class="fa fa-fw fa-angle-double-right"></i>
                          </span>
                        </a>
                      </p>
                    </div>

          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
            <h2>Ex-rugby captain to spearhead new Eigen Aberdeen office</h2>
            <h3>
Offshore oil and gas software provider Eigen has announced today that it will open a new Aberdeen office, headed up by ex-Gordonian’s
captain Keith Wildridge.
            </h3>
            <p>
              Augmenting its existing headquarters in Surrey, Eigen are adding an Aberdeen office to help service oil and gas contracts
              in the UK, Norway and Azerbaijan.
            </p>
            <p>Mr Wildridge, as new head of North Sea sales, will lead operations within the Aberdeen office where Eigen say he will focus
              on “providing local support for customers”.
            </p>
            <p>By <strong>David McPhee</strong> - <a href="https://www.energyvoice.com/oilandgas/165420/ex-rugby-captain-spearhead-new-eigen-aberdeen-office/" target="_blank">Energy Voice</a></p>
            <p><em>6th March 2018</em></p>

            <p class="press-image">
              <img src="/logos/energy-voice.png" alt="">
            </p>
            <p>
              <a href="https://www.energyvoice.com/oilandgas/165420/ex-rugby-captain-spearhead-new-eigen-aberdeen-office/" target="_blank" class="btn sm">
                <span class="btn-inner">Read full article
                  <i class="fa fa-fw fa-angle-double-right"></i>
                </span>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
            <h2>Eigen Opens Aberdeen Office</h2>
            <h3>
              Eigen, the Offshore Oil and Gas digitalisation software provider and systems integrator, has today opened a new office in
              Aberdeen.
            </h3>
            <p>
              Headed up by a new Head of North Sea Sales, the new presence adds to its existing UK HQ in Surrey.
            </p>
            <p>
              Keith Wildridge will lead operations at the new office by focusing on providing local support for customers. He brings significant
              experience to the region, having worked in Aberdeen for the past 17 years at Oil and Gas sector organisations including
              Shell, The Peak Group, and AGR.
            </p>
            <p>
              <a href="http://www.oilandgastechnology.net/news/eigen-opens-aberdeen-office" target="_blank">Oil &amp; Gas Technology</a>
            </p>
            <p>
              <em>6th March 2018</em>
            </p>
            <p class="press-image">
              <img src="/logos/oil-gas-technology.png" alt="">
            </p>
            <p>
              <a href="http://www.oilandgastechnology.net/news/eigen-opens-aberdeen-office" target="_blank" class="btn sm">
                <span class="btn-inner">Read full article
                  <i class="fa fa-fw fa-angle-double-right"></i>
                </span>
              </a>
            </p>
          </div>


          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
            <h2>Eigen delivers enhanced operational management at Goliat</h2>
<p>
Offshore Oil and Gas digitalisation software provider and systems integrator, Eigen, is delivering a new Barrier Status Panel to improve the management of operational safety on Goliat.
</p>
<p>
Working with ENI Norge, the Barents Sea project will greatly increase the visibility of real-time asset-integrity and risk-stance. This will help operations to reduce the risk of safety incidents and production losses on the platform. The system is due to enter production in April.
</p>
            <p><a href="http://www.youroilandgasnews.com/eigen+delivers+enhanced+operational+management+at+goliat_147659.html" target="_blank">Your Oil and Gas News</a></p>
            <p><em>13th February 2018</em></p>

            <p class="press-image">
              <img src="/logos/your-oil-and-gas-news.png" alt="">
            </p>
            <p>
              <a href="http://www.youroilandgasnews.com/eigen+delivers+enhanced+operational+management+at+goliat_147659.html" target="_blank" class="btn sm">
                <span class="btn-inner">Read full article
                  <i class="fa fa-fw fa-angle-double-right"></i>
                </span>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
            <h2>Eigen Delivering Enhanced Operational Management at Goliat</h2>
            <h3>Offshore Oil and Gas digitalisation software provider and systems integrator, Eigen, is delivering a new Barrier Status Panel to improve the management of operational safety on Goliat.</h3>
            <p>
Working with ENI Norge, the Barents Sea project will greatly increase the visibility of real time asset-integrity and risk-stance. This will help operations to reduce the risk of safety incidents and production losses on the platform. The system is due to enter production in April.
</p>
<p>
By implementing the first solution of its kind to restructure the understanding and management of risk, the innovative project will eliminate the time required to identify and analyse safety barrier status. This will enable engineers to focus on other operationally essential activities, whilst complying with health, safety and environmental policies.
</p>
            <p>
              By <strong>Laura Dean</strong> - <a href="https://www.oilfieldtechnology.com/digital-oilfield/13022018/eigen-delivering-enhanced-operational-management-at-goliat" target="_blank">Oilfield Technology</a>
            </p>
            <p>
              <em>13th February 2018</em>
            </p>

            <p class="press-image">
              <img src="/logos/oilfield-technology.png" alt="">
            </p>
            <p>
              <a href="https://www.oilfieldtechnology.com/digital-oilfield/13022018/eigen-delivering-enhanced-operational-management-at-goliat/" target="_blank"
                class="btn sm">
                <span class="btn-inner">Read full article
                  <i class="fa fa-fw fa-angle-double-right"></i>
                </span>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
            <h2>Eigen Delivering Enhanced Operational Management at Goliat</h2>
            <h3>Offshore Oil and Gas digitalisation software provider and systems integrator, Eigen, is delivering a new Barrier Status
              Panel to improve the management of operational safety on Goliat.</h3>
            <p>
              Working with ENI Norge, the Barents Sea project will greatly increase the visibility of real time asset-integrity and risk-stance.
              This will help operations to reduce the risk of safety incidents and production losses on the platform. The system is
              due to enter production in April.
            </p>
            <p>
              By implementing the first solution of its kind to restructure the understanding and management of risk, the innovative project
              will eliminate the time required to identify and analyse safety barrier status. This will enable engineers to focus on
              other operationally essential activities, whilst complying with health, safety and environmental policies.
            </p>
            <p>
              <a href="http://www.oilandgastechnology.net/news/eigen-delivering-enhanced-operational-management-goliat" target="_blank">Oil &amp; Gas Technology</a>
            </p>
            <p>
              <em>13th February 2018</em>
            </p>

            <p class="press-image">
              <img src="/logos/oil-gas-technology.png" alt="">
            </p>
            <p>
              <a href="http://www.oilandgastechnology.net/news/eigen-delivering-enhanced-operational-management-goliat"
                target="_blank" class="btn sm">
                <span class="btn-inner">Read full article
                  <i class="fa fa-fw fa-angle-double-right"></i>
                </span>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
            <h2>New software to improve safety on Norwegian Goliat field</h2>
            <h3>
Oil and gas technology specialists Eigen are working on new software to improve safety on an offshore Norwegian field.
            </h3>
            <p>
Working with ENI Norge, the firm is developing a barrier status panel for the Goliat field in the Barents Sea.
</p>
<p>
The technology will increase the visibility of asset integrity and risks, which Eigen says will reduce the risk of safety incidents and production losses on the platform.
</p>
            <p>By <strong>Allister Thomas</strong> - <a href="https://www.energyvoice.com/norway/163552/new-software-improve-safety-norwegian-goliat-field/" target="_blank">Energy Voice</a></p>
            <p><em>13th February 2018</em></p>

            <p class="press-image">
              <img src="/logos/energy-voice.png" alt="">
            </p>
            <p>
              <a href="https://www.energyvoice.com/norway/163552/new-software-improve-safety-norwegian-goliat-field/" target="_blank" class="btn sm">
                <span class="btn-inner">Read full article
                  <i class="fa fa-fw fa-angle-double-right"></i>
                </span>
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
            <h2>The digitalisation interview: Murray Callander, chief technology officer, Eigen</h2>
            <p>
               Oil prices may be staging a cautious recovery, but the pressure on upstream oil and gas operators to make their operations
              more efficient remains. Central to this process is digital technology, and the effective use of big data. Gas Matters speaks
              with Murray Callander, chief technology officer of digital systems developer Eigen, about the latest digital trends in the
              gas sector and how they are shaping the industry.
            </p>
            <p>
              <a href="http://www.gasstrategies.com/" target="_blank">Gas Strategies</a>
            </p>
            <p>
              <em>7th February 2018</em>
            </p>

            <p class="press-image">
              <img src="/logos/gas-strategies.png" alt="">
            </p>
            <p>
              <a href="/docs/gas_strategies_-_the_digitalisation_interview_murray_callander_chief_technology_officer_eigen_-_2018-02-07.pdf" target="_blank"
                class="btn sm">
                <span class="btn-inner">Read full article
                  <i class="fa fa-fw fa-angle-double-right"></i>
                </span>
              </a>
            </p>
          </div>

                    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 press-item">
                      <h2>Digitalisation in oil &amp; gas – The upstream response to Industry 4.0</h2>
                      <h3>
                        The past decade has seen several Oil &amp; Gas operator technologies advancing quickly in performance and declining rapidly in price.
                      </h3>
                      <p>
Since the turn of this century, productivity growth has become an increasingly prominent government priority. The past decade has seen several Oil & Gas operator technologies advancing quickly in performance and declining rapidly in price, and they are believed to hold the key to enhancing industrial productivity in the sector.  These include IoT, remote sensing, data combination and dissemination, cloud computing, autonomous vehicles, industrial internet, additive manufacture, block-chain, analytics and artificial intelligence. Together they form the foundations of what is commonly referred to as the 4th Industrial Revolution.
</p>
<p>
In line with this revolution, 2017 has seen huge investments into digitalisation in the industry. Statoil unveiled its 1Bln Kroner digitalisation initiative, BP invested $20m in an AI company called Beyond Limits and GE forecast that their digitalisation platform will be part of a $6Bln revenue stream by 2020.
</p>
                      <p>By
                        <strong>Gareth Davies</strong> -
                        <a href="https://www.itproportal.com/features/digitalisation-in-oil-gas-the-upstream-response-to-industry-40/"
                          target="_blank">ITProPortal</a>
                      </p>
                      <p>
                        <em>25th January 2018</em>
                      </p>

                      <p class="press-image">
                        <img src="/logos/it-pro-portal.png" alt="">
                      </p>
                      <p>
                        <a href="https://www.itproportal.com/features/digitalisation-in-oil-gas-the-upstream-response-to-industry-40/" target="_blank" class="btn sm">
                          <span class="btn-inner">Read full article
                            <i class="fa fa-fw fa-angle-double-right"></i>
                          </span>
                        </a>
                      </p>
                    </div>
        </div>
      </div>
    </div>
  </article>
{{footer}}
