{{header}}

<div id="home-slider" class="section">
      <div id="home-slider-inner">
            <div class="slider">
                  <div class="slider-slide slider-slide-1">
                        <div>
                              <h2>Eigen provides technology and services to help oil and gas companies work more efficiently.</h2>
                        </div>
                  </div>
                  <div class="slider-slide slider-slide-2">
                        <div>
                              <h2>Safety Barrier Health Management</h2>
                              <div>
                                    <h3>Effective Barrier Monitoring in Realtime to support Oil and Gas Operations and Risk Management.</h3>
                                    <a href="./whatwedo/safety-barrier-management.html">Learn more</a>
                              </div>
                        </div>
                  </div>
                  <div class="slider-slide slider-slide-3">
                        <div>
                              <h2>Dashboards, Mobility & Wearables</h2>
                              <div>
                                    <h3>The most elegant and simple way for secure access to your existing data using the latest web technologies and mobile devices.</h3>
                                    <a href="./whatwedo/dashboards.html">Learn more</a>
                              </div>
                        </div>
                  </div>
                  <div class="slider-slide slider-slide-4">
                        <div>
                              <h2>Search</h2>
                              <div>
                                    <h3>Intelligent Search across existing systems links all the different information and makes it visible in the context.</h3>
                                    <a href="./whatwedo/search.html">Learn more</a>
                              </div>
                        </div>
                  </div>
                  <div class="slider-slide slider-slide-5">
                        <div>
                              <h2>Operations Technology</h2>
                              <div>
                                    <h3>Specialist services to install and properly integrate advanced Operations Technology: From front-end Consulting Services to 24/7 Support.</h3>
                                    <a href="./whatwedo/ot-integration.html">Learn more</a>
                              </div>
                        </div>
                  </div>
            </div>
            <div id="slider-controls">
                  <button></button>
                  <button></button>
                  <button></button>
                  <button></button>
                  <button></button>
            </div>
      </div>
</div>

{{footer}}
