{{header}}

<div id=feature-background class=fullScreenBg>
      <span class=overlay></span>
      <div id=feature-title class="vc heroic">
            <div>
                  <h1>E
                        <span>FFICIENT</span> W
                        <span>ORK</span>.</h1>
            </div>
            <div>
                  <h2>An open platform for a new connected way of working.</h2>
            </div>
            <a id=feature-play class=btn-play>
                  <i class="fa fa-fw fa-play"></i>
            </a>
      </div>
      <div id=feature-video-container class=eigen-feature-video>
            <script charset=ISO-8859-1 src=//fast.wistia.com/assets/external/E-v1.js async></script>
            <div class=wistia_responsive_padding style="padding:56.25% 0 0 0;position:relative">
                  <div class=wistia_responsive_wrapper style=height:100%;left:0;position:absolute;top:0;width:100%>
                        <div class="wistia_embed wistia_async_koapeobj5x videoFoam=true fullscreenButton=true" style=height:100%;width:100%>&nbsp;</div>
                  </div>
            </div>
      </div>
</div>
<div class="section heroic eigen-yellow">
      <div class=container>
            <h2 class=medium>Eigen provides technology and services to help oil and gas companies work more efficiently.</h2>
      </div>
</div>
<section class=section>
      <div class=container>
            <div class=row>
                  <div class="col-xs-12 col-md-4">
                        <a href=/uses/efficient-work.html class=eigen-feature-highlight>
                              <div class="icon-feature icon-efficient-work"></div>
                              <div class=box>
                                    <h2 class=text-center>Efficient Work</h2>
                                    <p class=text-center>Eliminate waste by making the best use of existing data.</div>
                        </a>
                  </div>
                  <div class="col-xs-12 col-md-4">
                        <a href=/uses/shared-awareness.html class=eigen-feature-highlight>
                              <div class="icon-feature icon-shared-awareness"></div>
                              <div class=box>
                                    <h2 class=text-center>Shared Awareness</h2>
                                    <p class=text-center>Beautiful dashboards and intelligent new ways of displaying data.</div>
                        </a>
                  </div>
                  <div class="col-xs-12 col-md-4">
                        <a href=/uses/condition-based-maintenance.html class=eigen-feature-highlight>
                              <div class="icon-feature icon-condition-based-maintenance"></div>
                              <div class=box>
                                    <h2 class=text-center>Condition Based Maintenance</h2>
                                    <p class=text-center>Eigen Ingenuity helps companies to move to new ways of working and implement machine
                                          learning and AI.</div>
                        </a>
                  </div>
            </div>
      </div>
</section>
<article>
      <div class="section eigen-grey">
            <div class=container>
                  <div class="row middle-md">
                        <div class="col-xs-12 col-md-6">
                              <div class=box>
                                    <h2>Set Your Data Free</h2>
                                    <p>Eigen+Ingenuity is an open platform for digitisation that helps people work efficiently.
                                          It provides a single connected interactive view across all their business systems.
                                          Watch this video to see how it is used.</div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                              <script src=//fast.wistia.com/embed/medias/fkhuidcm2h.jsonp async></script>
                              <script src=//fast.wistia.com/assets/external/E-v1.js async></script>
                              <div class=wistia_responsive_padding style="padding:56.25% 0 0 0;position:relative">
                                    <div class=wistia_responsive_wrapper style=height:100%;left:0;position:absolute;top:0;width:100%>
                                          <div class="wistia_embed wistia_async_fkhuidcm2h videoFoam=true" style=height:100%;width:100%>&nbsp;</div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="section eigen-green">
            <div class=container>
                  <blockquote>"The Eigen system was so popular everyone wanted access"
                        <cite>Kari Nielsen - Head of Field Operations, Lundin Norway.</cite>
                  </blockquote>
            </div>
      </div>
</article>
<section class="section our-clients">
      <div class=container>
            <img src=/images/eigen-clients.jpg alt="Our clients">
      </div>
</section>
<section class="section eigen-feature">
      <article class=container>
            <div class=image>
                  <img src=/images/connect-icon.svg>
            </div>
            <div class=content>
                  <h2>Connect</h2>
                  <p>Eigen has the software, hardware, and engineering expertise to get your data connected and useful. From
                        existing data source such as OSIsoft PI, SAP, Aveva or Tieto through to new custom applications for
                        analytics.</div>
      </article>
</section>
<section class="section eigen-feature">
      <article class=container>
            <div class=content>
                  <h2>Visualise</h2>
                  <p>Transform your operations and take advantage of a new connected way of working. Reduce the complexity of
                        running your business and get everything you need through a single portal. Eigen Ingenuity can be
                        deployed quickly and scales with you. Elegant dashboards let everyone see what is going on. Combined
                        information brings new insights.</div>
            <div class=image>
                  <img src=/images/visualise-icon.svg>
            </div>
      </article>
</section>
<section class="section eigen-feature">
      <article class=container>
            <div class=image>
                  <img src=/images/eigen-rocket.png>
            </div>
            <div class=content>
                  <h2>Transform</h2>
                  <p>Users don't need to go into multiple systems any more to understand what is going on. Eigen Ingenuity is
                        built around Eigen's revolutionary data model that lets you view your data in new ways. Turn data
                        and relationships into actionable insights.
                        <p>Quickly built new applications and automate workflows using the open APIs and extensive library of
                              interactive web components. Integrated search and alerting enable users to have their attention
                              focused on what matters.</div>
      </article>
</section>
<section class="section eigen-blue">
      <div class="container heroic">
            <h2 class=medium>Future</h2>
            <p>Eigen Ingenuity is constantly being expanded with new functionality and the latest technologies for visualisation
                  &amp; analytics.</div>
</section>

{{footer}}
