{{header}}
<div class="section whatwedo whatwedo-dashboards">
  <div>
    <h2>Dashboards, Mobility & Wearables</h2>
    <div>
      <h3>
          Built using the latest web technologies, the dashboards are designed around the core principles of elegance with performance and reliability. 
          The mobile app includes functionality to pair with wearable devices and provide real-time information and instant access to operational data.

          <ul class="eigen-list">
            <li><a href="./product/operations-dashboard.html">Operations Dashboards</a></li>
            <li><a href="https://www.offshore-technology.com/news/wearable-technology-keeps-offshore-workers-informed/" target="_blank">Wearables</a></li>
            <li><a href="./services/rtvisualisation.html">Real Time Visualisation</a></li>
          </ul>
      </h3>
      <div class="video">
        <img src="./images/whatwedo/dashboards-video.jpg" alt="">
      </div>
    </div>
  </div>
</div>
{{footer}}
