{{header}}
<div class="section whatwedo whatwedo-ot">
  <div>
    <h2>Operations Technology</h2>
    <div>
      <h3>
          Specialist services to install and properly integrate Operations Technology: From front-end Consulting Services to 24/7 Support, Eigen has the skills and experience to design, set up and integrate the full technology stack from the network level up, providing the Visualisation and Specialised Application Solutions that add real value.
          <ul class="eigen-list">
            <li><a href="./services/consulting.html">Consulting</a></li>
            <li><a href="./services/integration.html ">Integration</a></li>
            <li><a href="./services/installation-migration.html">OT deployment</a></li>
            <li><a href="./services/it-infrastructure.html">Infrastructure and Digital Security</a></li>
            <li><a href="./services/support.html ">Support</a></li>
          </ul>
      </h3>
      <div class="video">
        <img src="./images/whatwedo/ot-video.jpg" alt="">
      </div>
    </div>
  </div>
</div>
{{footer}}
