{{header}}
<div class="section whatwedo whatwedo-safety">
  <div>
    <h2>Safety Barrier Health Management</h2>
    <div>
      <h3>
        Managing components of Safety Barrier Health system might turn out to be quite challenging.
        At Eigen we use new smart ways of visualising data to find the status of equipment quickly and easily, see the underlying cause and keep users up to speed with a clear picture of the current standing. By making the information easy to find, now you can focus on prioritising work.
        <ul class="eigen-list">
            <li><a href="">Barriers</a></li>
        </ul>
      </h3>
      <div class="video">
        <img src="./images/whatwedo/safety-video.jpg" alt="">
      </div>
    </div>
  </div>
</div>
{{footer}}
