{{header}}
<div class="section whatwedo whatwedo-search">
  <div>
    <h2>Search</h2>
    <div>
      <h3>
          Intelligent Search across existing systems links all the different information and makes it visible in the context.
          <ul class="eigen-list">
            <li><a href="./product/about-eigen-ingenuity.html">Eigen+ Ingenuity</a></li>
          </ul>
      </h3>
      <div class="video">
        <img src="./images/whatwedo/search-video.jpg" alt="">
      </div>
    </div>
  </div>
</div>
{{footer}}
