{{header}}
<article>
  <header class="section eigen-yellow text-center">
    <div class=container>
      <div class=vc>
        <h1 class=eigen-logo>Integration</h1>
      </div>
    </div>
  </header>
  <div class="section entry">
    <div class=container>
      <div class=row>
        <div class=col-md-6>
          <img src=./images/west-chirag.jpg>
        </div>
        <div class=col-md-6>
          <p class=lead>We have a multi-disciplined team with deep experience in diverse fields ranging from engineering and operations
            to hardware design and software architecture.
            <p>We have years of experience installing the full technology stack from control systems interfaces through Data
              Historians, Alarm &amp; Event Historians up to Web Visualisation, Production Reporting, and automated workflows
              such as Well Testing, Safe Operating Envelopes and SIS Demand Auditing.
              <aside>
                <h2>Case Study - Integrated Operations Ready for Start Up</h2>
                <a href=/uses/cases/#integrated-operations-ready-for-start-up
                  class="btn sm">
                  <span class=btn-inner>Find Out More
                    <i class="fa fa-fw fa-angle-double-right"></i>
                  </span>
                </a>
                <p class="lead" style="margin-bottom: 2rem"></p>
                <h2>Skills and Experience</h2>
                <ul class="eigen-list">
                  <li>Alarm Management / Honeywell DynAMo</li>
                  <li>Drilling RT data integration: WITS / WitsML</li>
                  <li>Plant Asset Model: Imported from SAP</li>
                  <li>Maintenance Data/Work Orders: SAP, Aveva, SQLServer</li>
                  <li>Process Historians: IP21, PI (AF, SDK), PHD, Replication, Enterprise historians</li>
                  <li>ISS BabelFish (now P2ES)</li>
                  <li>OPC DA, HDA, UA, A&amp;E, Tunnelling, Data Hub</li>
                  <li>POB and Flights: Tieto DaWinci</li>
                  <li>SIS Demand Auditing</li>
                  <li>Excel: Bi-directional, Mac, Windows</li>
                  <li>Clients: Mac, Windows</li>
                  <li>Servers: Linux, Windows</li>
                </ul>

                <p class="lead" style="margin-bottom: 2rem">
                </p>
                <h2>Partnerships</h2>
                <div class='partner-logo'>
                  <div>
                    <img src="./images/logos/aspentech.png" alt="">
                  </div>
                  <div>
                     Aspentech’s Implementation Service Provider Partner
                  </div>
                </div>

                <div class='partner-logo'>
                  <div>
                    <img src="./images/logos/osisoft.png" alt="">
                  </div>
                  <div>
                      PI DevClub member (formerly vCampus)
                  </div>
                </div>
              </aside>
        </div>
      </div>
    </div>
  </div>
</article>
<aside class="section eigen-green world-map">
  <div class=container>
    <ul>
      <li>
        <i class="fa fa-fw fa-plus"></i>100 projects
        <li>
          <i class="fa fa-fw fa-plus"></i>5 continents
          <li>
            <i class="fa fa-fw fa-plus"></i>500 interfaces
            <li>
              <i class="fa fa-fw fa-plus"></i>3000 user graphics
              <li>
                <i class="fa fa-fw fa-plus"></i>50 data historians
                <li>
                  <i class="fa fa-fw fa-plus"></i>62 custom applications
                  <li>
                    <i class="fa fa-fw fa-plus"></i>1 million data points
                    <li>
                      <i class="fa fa-fw fa-plus"></i>2 millions lines of code</ul>
  </div>
</aside>{{footer}}
