{{header}}
<article>
  <header class="section eigen-yellow text-center">
    <div class=container>
      <div class=vc>
        <h1 class=eigen-logo>Infrastructure Services</h1>
      </div>
    </div>
  </header>
  <div class="section entry">
    <div class=container>
      <div class=row>
        <div class=col-md-6>
          <img src=/images/case-studies/new-technology-pilot-computer-racks.jpg>
        </div>
        <div class=col-md-6>
          <p>Access to Data requires fit for purpose infrastructure that complies with the Company’s InfoSec requirements. At Eigen
            we have the expertise to get the right infrastructure in place and manage the live switch over from your existing systems.
          </p>
          <aside>
            <div>
              <ul class="eigen-list">
                <li>Networking: Network design, VPNs, Remote Access, Citrix</li>
                <li>IT Infrastructure: High Availability Design, Configuration, Hosting, Data Centres, Virtualisation</li>
                <li>Digital Security: 3-tier architecture, Firewalls, Authentication, integration compliant with Company policy</li>
              </ul>
            </div>

            <p class="lead" style="margin-bottom: 2rem"></p>
            <h2>Case Study - PIN and OSIsoft PI Virtualisation</h2>
            <a href=/uses/cases/#infrastructure class="btn sm">
              <span class=btn-inner>Find Out More
                <i class="fa fa-fw fa-angle-double-right"></i>
              </span>
            </a>
          </aside>

        </div>
      </div>

    </div>
  </div>
</article>
<aside class="section eigen-green world-map">
  <div class=container>
    <ul>
      <li>
        <i class="fa fa-fw fa-plus"></i>100 projects
        <li>
          <i class="fa fa-fw fa-plus"></i>5 continents
          <li>
            <i class="fa fa-fw fa-plus"></i>500 interfaces
            <li>
              <i class="fa fa-fw fa-plus"></i>3000 user graphics
              <li>
                <i class="fa fa-fw fa-plus"></i>50 data historians
                <li>
                  <i class="fa fa-fw fa-plus"></i>62 custom applications
                  <li>
                    <i class="fa fa-fw fa-plus"></i>1 million data points
                    <li>
                      <i class="fa fa-fw fa-plus"></i>2 millions lines of code</ul>
  </div>
</aside>{{footer}}
