{{header}}
<article>
  <header class="section eigen-yellow text-center">
    <div class=container>
      <div class=vc>
        <h1 class=eigen-logo>Real Time Visualisation</h1>
      </div>
    </div>
  </header>
  <div class="section entry">
    <div class=container>
      <div class=row>
        <div class=col-md-6>
          <img src=/images/vis-1.jpg>
        </div>
        <div class=col-md-6>
          <p>Dashboards and portal pages are configured to provide rapid visualisation of information. We pride ourselves in working with
          you to find ways to represent what is important so that information can be found quickly and easily.
          </p>
          <p>Our focus is always
          on the end-use of the information, providing managers, engineers and operations staff with contextualised information – in
          a way that they can use to take action and change their day.
          </p>
          <aside>
            <div>
              <ul class="eigen-list">
                <li>Eigen Ingenuity Integration & Visualisation Platform</li>
                <li>Confluence-based Portals</li>
                <li>Oil & Gas Process Expertise</li>
                <li>Expertise in focused RT dashboards: Management and Engineering Overviews, KPIs, Integrated Operations, Remote Operations
                Support and Collaboration</li>
                <li>Custom Content Creation</li>
                <li>Prototyping and Proof of Concept</li>
                <li>See information on any device - the displays automatically adjust so that they are easy to read on any screen size</li>
              </ul>
            </div>
          </aside>

        </div>
      </div>

      <div class=row style="margin-top: 2rem">
        <div class=col-md-6>
          <img src=/images/vis-2.jpg>
        </div>
        <div class=col-md-6>
          <aside>
            <div>
              <h2>Eigen Visual Elements</h2>
              <ul class="eigen-list">
                <li>Interactive Dashboards</li>
                <li>Ad-hoc trending</li>
                <li>Equipment Overviews</li>
                <li>Live sortable tables</li>
                <li>Sensor Monitoring & Control</li>
              </ul>

              <h2>Eigen Visualisation Features</h2>
              <ul class="eigen-list">
                <li>Search and aggregate information across all systems</li>
                <li>Virtual calculations and aggregation</li>
                <li>Alerting</li>
                <li>New ways of visualising data</li>
                <li>Live and interactive drawings</li>
                <li>User configurable visualisation and trending (mobile ready)</li>
                <li>Data connectors</li>
              </ul>

              <div style="display: flex; justify-content: center; align-items: flex-start">
                <img src="/images/vis-3.jpg" alt="">
              </div>
            </div>
          </aside>
        </div>
      </div>

    </div>
  </div>
</article>
<aside class="section eigen-green world-map">
  <div class=container>
    <ul>
      <li>
        <i class="fa fa-fw fa-plus"></i>100 projects
        <li>
          <i class="fa fa-fw fa-plus"></i>5 continents
          <li>
            <i class="fa fa-fw fa-plus"></i>500 interfaces
            <li>
              <i class="fa fa-fw fa-plus"></i>3000 user graphics
              <li>
                <i class="fa fa-fw fa-plus"></i>50 data historians
                <li>
                  <i class="fa fa-fw fa-plus"></i>62 custom applications
                  <li>
                    <i class="fa fa-fw fa-plus"></i>1 million data points
                    <li>
                      <i class="fa fa-fw fa-plus"></i>2 millions lines of code</ul>
  </div>
</aside>{{footer}}
