{{header}}
<article>
  <header class="section eigen-yellow text-center">
    <div class=container>
      <div class=vc>
        <h1 class=eigen-logo>Solutions</h1>
      </div>
    </div>
  </header>
  <div class="section entry">
    <div class=container>
      <div class=row>
        <div class=col-md-6>
          <img src=/images/uses/barrier.jpg>
        </div>
        <div class=col-md-6>
          <p class=lead>We have 10+ years of experience with applications and solutions that have proven to deliver value to Oil & Gas operators.
          We can combined these with new applications delivered on cutting edge technology
          </p>
              <aside>
                <div class='col-2'>
                  <div>
                    <h2>Traditional Solutions</h2>
                    <ul class="eigen-list">
                      <li>Well Production Testing</li>
                      <li>Production Reporting</li>
                      <li>Hydrocarbon Accounting</li>
                      <li>Chemical Management</li>
                      <li>Water Injection Targets</li>
                      <li>Safe Operating Envelopes</li>
                      <li>Electronic LogBook</li>
                      <li>Alarm Management</li>
                      <li>User Notifications: Email, SMS, Visual</li>
                      <li>Process Historians</li>
                    </ul>
                  </div>
                  <div>
                    <h2>New Solutions</h2>
                    <ul class="eigen-list">
                      <li>Eigen Ingenuity</li>
                      <li>Safety Barrier Monitoring</li>
                      <li>Subsea Hydraulics Diagnostics &amp; Monitoring</li>
                      <li>JIRA Workflows</li>
                      <li>InfluxDB BigData Historian</li>
                    </ul>
                  </div>
                </div>

                <p class="lead" style="margin-bottom: 2rem"></p>
                <h2>Case Study - Dynamic Barrier Monitoring</h2>
                <a href=/uses/cases/#barriers
                  class="btn sm">
                  <span class=btn-inner>Find Out More
                    <i class="fa fa-fw fa-angle-double-right"></i>
                  </span>
                </a>
              </aside>
        </div>
      </div>
    </div>
  </div>
</article>
<aside class="section eigen-green world-map">
  <div class=container>
    <ul>
      <li>
        <i class="fa fa-fw fa-plus"></i>100 projects
        <li>
          <i class="fa fa-fw fa-plus"></i>5 continents
          <li>
            <i class="fa fa-fw fa-plus"></i>500 interfaces
            <li>
              <i class="fa fa-fw fa-plus"></i>3000 user graphics
              <li>
                <i class="fa fa-fw fa-plus"></i>50 data historians
                <li>
                  <i class="fa fa-fw fa-plus"></i>62 custom applications
                  <li>
                    <i class="fa fa-fw fa-plus"></i>1 million data points
                    <li>
                      <i class="fa fa-fw fa-plus"></i>2 millions lines of code</ul>
  </div>
</aside>{{footer}}
