{{header}}
<article>
  <header class="section eigen-yellow text-center">
    <div class=container>
      <div class=vc>
        <h1 class=eigen-logo>Support</h1>
      </div>
    </div>
  </header>
  <div class="section entry">
    <div class=container>
      <div class=row>
        <div class=col-md-6>
          <img src=./images/case-studies/new-technology-pilot-computer-racks.jpg>
        </div>
        <div class=col-md-6>
          <p class=lead>Eigen has been supporting North Sea and Caspian operators for 10+ years. Eigen is the top-end, last resort support layer
          regarded as highly specialised and efficient by our clients: “The buck stops here”.
            </p>
            <p>Our dedicated team provides specialist support of custom and legacy systems and will work tirelessly to fix and resolve any
            problems you may encounter.
              </p>
              <p>
                 From start to finish our goal is to maintain maximum uptime for your complex business systems
              </p>
              <p>
                 Eigen Support provides the tools to help you grow, develop, maintain workflow, and deliver world class results.
              </p>
              <ul class="eigen-list">
                <li>Application Support Specialist with expertise in Digital Oilfield Infrastructure, Systems, OS and Applications</li>
                <li>Proactive automated system monitoring</li>
                <li>Automated Patch release detection (Windows, Linux)</li>
                <li>Legacy Application support: Matrikon, IP21 early versions</li>
                <li>Standard Support Processes: 24/7, SLAs, Ticketing</li>
                <li>Rigorous root-cause analysis from simple reported symptoms</li>
              </ul>

              <p class="lead" style="margin-bottom: 2rem"></p>
              <h2>Case Study - Support</h2>
              <a href=./uses/cases/#support class="btn sm">
                <span class=btn-inner>Find Out More
                  <i class="fa fa-fw fa-angle-double-right"></i>
                </span>
              </a>

              <p class="lead" style="margin-bottom: 2rem"></p>
                <h2>FOR 24x7 SUPPORT</h2>
                <p>ONGOING, SPECIALIST SUPPORT FOR CUSTOM AND LEGACY SYSTEMS</p>
                <a href=tel:+44(0)2071117770 class="btn sm">
                  <span class=btn-inner>CALL +44 (0) 207 1117770</span>
                </a>
        </div>
      </div>
    </div>
  </div>
</article>
<aside class="section eigen-green world-map">
  <div class=container>
    <ul>
      <li>
        <i class="fa fa-fw fa-plus"></i>100 projects
        <li>
          <i class="fa fa-fw fa-plus"></i>5 continents
          <li>
            <i class="fa fa-fw fa-plus"></i>500 interfaces
            <li>
              <i class="fa fa-fw fa-plus"></i>3000 user graphics
              <li>
                <i class="fa fa-fw fa-plus"></i>50 data historians
                <li>
                  <i class="fa fa-fw fa-plus"></i>62 custom applications
                  <li>
                    <i class="fa fa-fw fa-plus"></i>1 million data points
                    <li>
                      <i class="fa fa-fw fa-plus"></i>2 millions lines of code</ul>
  </div>
</aside>{{footer}}
