<!DOCTYPE html>
<base href="/">
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=description content="">
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=format-detection content="telephone=no">
<title>Eigen Ltd</title>
<meta name=msapplication-tap-highlight content=no>
<link rel=manifest href=manifest.json>
<meta name=mobile-web-app-capable content=yes>
<meta name=application-name content="Eigen Ltd">
<link rel=icon sizes=192x192 href=./images/touch/chrome-touch-icon-192x192.png>
<meta name=apple-mobile-web-app-capable content=yes>
<meta name=apple-mobile-web-app-status-bar-style content=black>
<meta name=apple-mobile-web-app-title content="Eigen Ltd">
<link rel=apple-touch-icon href=./images/touch/apple-touch-icon.png>
<meta name=msapplication-TileImage content=./images/touch/ms-touch-icon-144x144-precomposed.png>
<meta name=msapplication-TileColor content=#2F3BA2>
<meta name=theme-color content=#2F3BA2>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel=stylesheet>
<link rel=stylesheet href=./styles/main.css>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.5/tiny-slider.css">

<body class="has-bg-image {{className}}">
  <a name=top></a>
  <header class=primary-nav>
    <div class="mobile-menu container">
      <div class=head-logo>
        <a class=header-logo href="./">eigen ltd</a>
      </div>
      <div class=mobile-menu-icon></div>
    </div>
    <div class="off-canvas flex-container-column">
      <div class=main-menu-wrapper>
        <nav class="main-menu container">
          <div class=head-logo>
            <a class=header-logo href="./">Eigen Ltd</a>
          </div>
          <div class=close-menu></div>
          <ul>
            <li>
              <a href="./about/our-story.html">WHO WE ARE</a>
                <li>
                  <a>WHAT WE DO</a>
                  <span class=chevron></span>
                  <div class=sub-navigation>
                    <div class=left>
                      <div class=nav-tagline>

                        <h2>What we do</h2>
                      </div>
                    </div>
                    <div class=right>
                      <ul>
                        <li>
                          <a href=./whatwedo/safety-barrier-management.html>Safety Barrier Management</a>
                        </li>
                        <li>
                          <a href=./whatwedo/dashboards.html>Dashboards, Mobility & Wearables</a>
                        </li>
                        <li>
                          <a href=./whatwedo/search.html>Search</a>
                        </li>
                        <li>
                          <a href=./whatwedo/ot-integration.html>OT integration</a>
                        </li>
                      </ul>
                    </div>
                  </div>
              <li>
                <a>INSIGHTS</a>
                  <span class=chevron></span>
                  <div class=sub-navigation>
                    <div class=left>
                      <div class=nav-tagline>
                        <h2>Insights</h2>
                      </div>
                    </div>
                    <div class=right>
                      <ul>
                        <li>
                          <a href=./about/press.html>News</a>
                        </li>
                        <!--li>
                          <a>White Papers</a>
                        </li-->
                      </ul>
                    </div>
                  </div>

                  <li>
                    <a href="./uses/cases/">CASE STUDIES</a>
                    <li>
                      <a href="./careers/opportunities">CAREERS</a>
          </ul>
        </nav>
      </div>
    </div>
  </header>
